/* Call to Action */
.cta-cont{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 3%; 
  margin-top: 62px;
}
.cta{
  width: 100%;
  max-width: 1600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 30px;
  border-radius: 32px;
  background: linear-gradient(180deg, #000000 0%, #50C878 100%);
}
.cta p{
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: white;
    text-align: center;
}
.cta button{
  background-color: #FFD700;
  border:none ;
  padding: 10px 30px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 7px;
  margin-top: 38px;
  margin-bottom: 30px;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, .25);
  transition: .3s;
}
.cta button:hover{
  background-color: #ffe23c;
  transform: scale(1.1);
}
.cta button:active{
  background-color: #ffdb0e;
}
@media (max-width: 1200px) {

}

/* Large (desktops, 992px and below) */
@media (max-width: 992px) {}

/* Medium (tablets, 768px and below) */
@media (max-width: 768px) {
  .cta p{
    font-size: 20px;
    margin-top: 10px;
  }
}

/* Small (phones, 576px and below) */
@media (max-width: 576px) {
.cta-cont{
  margin-top: 30px;
}

.cta button{
  margin-top: 10px;
  margin-bottom: 8px;
}
}