#gallery {
  width: 100%;
}

.service-head {
  text-align: center;
  font-size: 40px;
  color: white;
  margin-top: 20px;
}

.img-group-container {
  height: 500vh;
  position: relative;
}

.img-group-container > div {
  position: sticky;
  top: 0;
  overflow: hidden;
  height: 100dvh;
}

.img-group {
  display: flex;
}

.img-container {
  display: flex;
  width: 100vw;
  height: 600px;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#gallery header h2 {
  font-size: 56px;
  font-weight: 700;
  letter-spacing: -3px;
  line-height: 1.2;
  text-align: center;
  margin: 0;
}

.img-container h3 {
  margin: 0;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: -3px;
  line-height: 1.2;
  position: relative;
  bottom: 30px;
  display: inline-block;
}

.progress {
  position: absolute;
  left: 35px;
  right: 35px;
  bottom: 30px;
  height: 5px;
  background: #50C878;
  transform: scaleX(0);
}

/* Service Card Styles */
.service-card-new {
  width: 100vw;
  height: 500px;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  flex: 0 0 auto;
  align-content: space-between;
  background-color: rgba(255, 255, 255, 0);
  padding: 40px;
}

.service-card-cont {
  display: flex;
  flex-direction: column;
  background-color: #1C2E22;
  width: 85%;
  height: 100%;
  padding: 30px;
  gap: 20px;
  border-top: 2px solid #50C878;
  border-radius: 15px;
}
.service-header{
    color: white;
    font-size: 20px;
}

.icon {
  width: 200px;
}

@media (max-width: 768px) {
    .service-card-cont {
        width: 100%;
    }
}