/* nav bar
.navbar-cont{
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  width: 100%;
  max-width: 1240px;
}
.navbarM {
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  width: 100%;
  max-width: 1240px;
  display: none;
}

.navbar-links, .navbar-linksM {
  list-style: none;
  display: flex;
  gap: 20px; 
}

.navbar-links a, .navbar-linksM a {
  text-decoration: none; 
  color: #fff; 
  font-size: 14px; 
  font-weight: 400; 
  transition: .3s;
}

.navbar-links a:hover, .navbar-linksM a:hover {
  color: #50C878; 
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .navbarM{
    display:flex;
  }
  .navbar{
    display: none;
  }
  .navbar-linksM{
    position: absolute;
    height: 100dvh;
    width: 100dvw;
  }
} */

.navbar-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.navbar, .navbarM {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  width: 100%;
  max-width: 1240px;
}

.navbar {
  display: flex;
}

.navbarM {
  display: none;
}

.navbar-links, .navbar-linksM {
  list-style: none;
  display: flex;
  gap: 20px;
  z-index: 999;
}

.navbar-links a, .navbar-linksM a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  transition: 0.3s;
}

.navbar-links a:hover, .navbar-linksM a:hover {
  color: #50C878;
}
.bgcolor{
  background-color: black;
}
/* Mobile View */
@media (max-width: 700px) {
  .logo-main{
    width: 170px;
  }
  .navbar {
    display: none;
  }

  .navbarM {
    display: flex;
  }

  .navbar-linksM {
    display: none;
    flex-direction: column;
    background-color:black;
    position: absolute;
    top: 98px;
    right: 0;
    width: 100%;
    height: calc(100vh - 98px);
    padding: 20px;
    gap: 15px;
    align-items: center;
  }

  .navbar-linksM.show {
    display: flex;
  }
}
